/* home.css */

.photo-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container > img {
  width: 65%;
  border-radius: 6px;
  border: none;
}
