.photo-container {
  box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: 0px 11px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 22px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container > img {
  width: 65%;
  border-radius: 6px;
  border: none;
  transition: opacity 5000s ease-in-out; /* Transición de opacidad para un efecto suave */
}

.fade-in {
  transition: opacity 3s ease-in-out; /* Hace que las imágenes sean completamente visibles */
}

.fade-out {
  transition: opacity 3s ease-in-out; /* Hace que las imágenes se vuelvan transparentes */
}
