@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.works-section {
  display: flex;
  flex-direction: column;
  columns: 3;
  overflow-x: auto;
  justify-content: center;
  height: 100%;
  margin: auto;
}

.gallery-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 33%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.gallery {
  overflow-x: auto;
  padding: 10px;
  display: flex;
  width: 100%;
  z-index: 1;
}
.gallery > img {
  height: 100%;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.gallery > img:hover {
  transform: scale(1.05);
  z-index: 2;
}
.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-container h1 {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
}
