@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.aboutMeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #0b0a0a;
}

.userImg {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 4px solid white;
  transition: margin-left 0.5s ease;
}

.userImg:hover {
  margin-left: -10%;
}

.description {
  color: #c8c8c8;
  font-family: 'Dancing Script', cursive;
  width: 40%;
  margin-left: 120px;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(20px);
}

.userImg:hover + .description {
  opacity: 1;
  transform: translateX(0);
  display: flex;
}
@media screen and (max-width: 1000px) {
  .userImg {
    width: 200px;
    margin-left: 10%;
  }
  .description {
    font-size: 20px;
  }
  .userImg:hover {
    margin: 5%;
  }
  .description {
    margin: auto;
  }
}
@media screen and (max-width: 430px) {
  .userImg {
    width: 100px;
  }
}
