@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

:root {
  --rtc-color-red: #ff4646;
  --rtc-color-black: #000000;
  --rtc-color-yellow: #dbdb26;
  --rtc-color-violet: #cb11dc;
  --rtc-color-blue: #2700eb;
  --rtc-color-orange: #eea300;
  --rtc-color-aqua: #14f4e5;
  --rtc-color-user: #14f466;
}

.headerContent {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: auto;
  background-color: rgb(0, 0, 0);
  height: 15vh;
}
.indexDiv {
  display: flex;
  gap: 50px;
}
.userDiv > p {
  color: #dddddd;
  font-size: 40px;
  cursor: pointer;
  font-family: 'Neonderthaw', cursive;
  letter-spacing: 6px;
}

.userDiv:hover {
  transform: scale(1.02, 1.02);
  text-shadow: 0 0 5px var(--rtc-color-red), 0 0 10px var(--rtc-color-red),
    0 0 40px var(--rtc-color-red), 0 0 60px var(--rtc-color-red);
}
.indexDiv > li > a {
  color: #dddddd;
  font-size: 35px;
  cursor: pointer;
  font-family: 'Neonderthaw', cursive;
}
.homeLink:hover {
  transform: scale(1.02, 1.02);
  text-shadow: 0 0 5px var(--rtc-color-violet), 0 0 10px var(--rtc-color-violet),
    0 0 40px var(--rtc-color-violet), 0 0 60px var(--rtc-color-violet);
}
.aboutMeLink:hover {
  transform: scale(1.02, 1.02);
  text-shadow: 0 0 5px var(--rtc-color-blue), 0 0 10px var(--rtc-color-blue),
    0 0 40px var(--rtc-color-blue), 0 0 60px var(--rtc-color-blue);
}
.workLink:hover {
  transform: scale(1.02, 1.02);
  text-shadow: 0 0 5px var(--rtc-color-orange), 0 0 10px var(--rtc-color-orange),
    0 0 40px var(--rtc-color-orange), 0 0 60px var(--rtc-color-orange);
}
.infoLink:hover {
  transform: scale(1.02, 1.02);
  text-shadow: 0 0 5px var(--rtc-color-aqua), 0 0 10px var(--rtc-color-aqua),
    0 0 40px var(--rtc-color-aqua), 0 0 60px var(--rtc-color-aqua);
}

@media screen and (max-width: 1000px) {
  .userDiv > p {
    font-size: 30px;
  }
  .indexDiv > li > a {
    font-size: 25px;
  }
}
@media screen and (max-width: 780px) {
  .userDiv > p {
    display: none;
  }
  .indexDiv > li > a {
    font-size: 25px;
  }
  .indexDiv {
    padding-right: 40px;
  }

  .headerContent {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
}
@media screen and (min-width: 340px) and (max-width: 510px) {
  .indexDiv > li > a {
    font-size: 20px;
  }
  .indexDiv {
    display: flex;
    gap: 10px;
  }
}
